/* Font-face definitions */
@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-black-italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-extrabold-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-extrabold-italic 2.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aptos';
    src: url('aptos-font/aptos-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
